<div id="header"> 
<ul>
  <li><a href="#">Home</a></li>
  <li id="selected"><a href="#">Order</a></li>
  <li><a href="/menus">Settings</a></li>
</ul>
</div>

<div id="body">
<span><a href="#">New Order</span>
</div>

